APP_ENV=development
APP_PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/furever_home

EMAIL_FROM_ADDRESS=no-reply@example.com
EMAIL_FROM_NAME=Furever Home
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USER=mailhog
EMAIL_PASSWORD=mailhog

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_EXPIRES_IN_ACCESS_TOKEN=15m
JWT_EXPIRES_IN_EMAIL_VERIFICATION=1d
JWT_EXPIRES_IN_PASSWORD_RESET=1h
JWT_EXPIRES_IN_REFRESH_TOKEN=7d
JWT_SECRET_ACCESS_TOKEN=change_me_access_token
JWT_SECRET_EMAIL_VERIFICATION=change_me_email_verification
JWT_SECRET_PASSWORD_RESET=change_me_password_reset
JWT_SECRET_REFRESH_TOKEN=change_me_refresh_token

CUSTOMER_FRONTEND_URL=http://localhost:3000

MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin
MINIO_BUCKET=furever-home
MINIO_PORT=9000
